/* --- fontes importadas --- */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* --- GERAL --- */

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;           
    -webkit-user-select: none;   
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'Roboto', Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.flexbox-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexbox-row-around{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* GERAL -> material design icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: white;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/* imagens centralizadas - tela login, registro, avaliação, perfil , pesquisa(?) */
.centralizar{
  margin-top:20%;
}
.note{
  margin-bottom: 10%;
}
.imagem-centro-box {
  position: relative;
  padding-bottom:50%;
  width:100%;
  height: 0;
  overflow: hidden;
 }

 .imagem-centro-img {
    margin-top:18%;
    text-align:center;
 }
 
.imagem-centro {
    margin-top:-10%;
    width:60%;
}
/*se for logo*/
.tamanhoLogo{
     width:100%;
}

/* LOGIN - inputs e botões */

/*box do login */
 .moni-form {
    box-sizing: border-box;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

/*inputs */
.moni-form input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
.moni-form input::-webkit-input-placeholder{
  	text-align:left;
  }

.moni-form input {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 20px 0;
    border-bottom: solid 1px #454744;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #454744 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #454744 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #454744;
  }

 .moni-form input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }

  .moni-form input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color:#454744;
    font-size: 15px;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    visibility: visible !important;
  }
  
  /*botão entrar */
 .moni-form #entrar {
    border: none;
    background: #454744;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-size:16px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }

  /* --- NAVBAR TODAS PÁGINAS --- */

 .navbar{
    width:100%;
    height:56px;
    position:fixed;
    top:0;
    background-color:#454744;
    /*flexbox*/
  }

  #more {
    position: fixed;
    left: 2%;
  }

  #conta {
   position: fixed;
   right: 2%;
  }

  #pesq{
    position: fixed;
    right: 12%;
  }

  #logo-branca {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/* menu hamburger do navbar */
.navbar #myMenu {
  display: none;
  width:100%;
  height:150px;
  position:fixed;
  top:54px;
  background-color:#454744;
  border-top: 1px solid #A0A0A0;
  opacity: 0.9;
}
/*menu quando block*/
ul {
  list-style-type: none;
  margin-top:6%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
}

li {
  text-align:left;
  margin-top:5%;
  margin-bottom:2%;	
  color: white;
  font-family:'Roboto', Arial, sans-serif;
  font-size: 18px;	
  border-bottom: 1px solid #A0A0A0;
}

li:last-child {
  border: none;
}


/*buscar*/
.search-container {
  width:100%; 
  margin-left: auto;
  margin-right: auto;
}

.search-container input[type=text] {
  width: 200px;
  padding: 8px;
  margin-top: 8px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius:3px;
  font-family:'Roboto', Arial, sans-serif;
}
.search-container input[type=text]::placeholder{
  transform: translateY(1.5px);
}
#pesquisa{
	margin-left:auto;
	margin-right:0;
}

 .search-container button {
  float: right;
  color: white;
  padding: 8px 10px;
  margin-top: 8px;
  margin-right: auto;
  background: #454744;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/*cards dos resultados */
.info-card{
  width:80%; 
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px grey;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

.margin-pesquisa-card{
  margin-top:8%;
}

.margin-registro-card{
  margin-top:20%;
}
/*quando não é a primeira a aparecer, não precisa de tanta margem */
.margin-registro-card-2{
  margin-top:5%;
}

.margin-registro-txt{
  padding-top:3%;
  margin-left:5%;
}
/* animação para aparecer os cards */
    @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

.info-card img {
  margin: 4%;
  float: left;
  border-radius: 50%;
  width: 55%;
}

.info-monitor{
  margin-top:5%;
  margin-right:5%;
}
/*fab button - enviar email */
.fab-button{
   width: 70px;
   height: 70px;
   background-color: #454744;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 60px;
 
   position: fixed;
   right: 5%;
   bottom: 5%;
}

#editarAvatar{
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  font-size:16px;
  line-height: 15px;
  margin-left:20%;
  margin-top:-16px;
  margin-bottom:15px;
  background-color: #ea4551;
}

.avatarChoice{
  width:52%;
}

.fundo-avatares{
  background-color:#E4E4E4;
  margin:5%;
}

.centro{
  margin-top:5%;
  margin-left:10%;
  margin-right:10%;
}

h2{ text-align:center; }


/*botão criar conta */
#criar, #avaliar{
  position:fixed;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  background: #454744;
  color: white;
  text-transform: uppercase;
  border-left-color: #454744;
  border-top-color: #454744;
  font-size:18px;
}

.hidden-label{
  display: none;
}

@media only screen and (max-height:420px) {
  #criar{
    display: none;
  }

}
/*criar nova conta 'form' */
.nova-conta-ou-reg h2 {
  margin-top: 22%;
  text-align: center;
  font-family: 'roboto', sans-serif;
}
.nova-conta-ou-reg img {
  margin-top:-30%;
  text-align:center;
 z-index: -111;
 position: relative;
 margin-bottom:-25%;
}

.nova-conta-ou-reg #novo{
  width:100%;
}
.nova-conta-ou-reg #registro{
  width:35%;
}

.nova-conta-ou-reg div {
  display: flex;
  flex-direction:column;
  align-items: left;
  margin-top: -10%;
  padding: 20px;
  font-family: 'roboto', sans-serif;
}

.nova-conta-ou-reg div div {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 5%;
}


.nova-conta-ou-reg .input-box{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

.nova-conta-ou-reg .escondido{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}


.nova-conta-ou-reg button{
   -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
    background: #454744;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-size:16px;
    width: 200px;
    color: white;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #454744; 
    color: #fff; 
    text-transform: uppercase;
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 45%; 
    bottom: 30px; 
}

#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar-avaliacao.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* PERFIL DO MONITOR */
.imagem-centro-avatar {
    margin-top:5%;
    width:35%;
    vertical-align: middle;
    border-radius:50%;
    z-index: 444;
    /*filter:grayscale(100%);*/
}
.imagem-centro-avatar-perfil {
    margin-top:-12%;
    width:100%;
    vertical-align: middle;
    z-index: 444;
    /*filter:grayscale(100%);*/
}
.imagem-centro-avatar-big{
  margin-top:-18%;
  width:60%;
  vertical-align:middle;
}

.perfil-infos {
    text-align: center;
    border-radius: 10px;
    background-color: #e0e0e0;
    width: 80%;
    margin-top: -40%;
    margin-left: auto;
    margin-right: auto;
}

.avaliado{
  width:30%;
}

.pontos{
  margin-top: 4%;
  margin-right:2%;
}
.pontos-avaliar{
  margin-top:45%;
  margin-right: 2%;
}
.pontos-dar{
  margin-top: 15%;
  margin-right:2%;
}
.pontos-circle{
  background-color:#616161;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  padding-top:2px;
  color: white;
  font-size: 16px;
  width:30px;
  height:25px;
  margin-left: -14%;
  z-index:222;
  -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

/* --- avaliação ---*/
.ball{
    background-color: #454744;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    margin-left: 45%;
    margin-top: -40%;
    border: 1px solid white;
    line-height: 40px;
}

.clicavel:active{
  transform: translateY(3px);
}

.apertado{
  bottom: -2px;
}

/* -- MODAL -- */

.modal {
    display: none; 
    position: fixed;
    z-index: 333; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
}

.load-gif{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width:50%;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: -80px;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-transform: uppercase;
}
.modal-content-email {
    position: relative;
    background-color: #fefefe;
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

.modal-body {padding: 2px 16px;}
.modal-body-email {
    padding: 50px 40px;
}
.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-avatar{
  color: black;
    float: right;
    margin-top:1%;
    font-size: 28px;
    font-weight: bold;

}
.como-avaliar{
  width:25%;
  position:fixed;
  left: 10%;
}

.info-aval{
  margin-top:8%;
  margin-bottom:12%;
}

.info-aval h3{
  margin-left: 8%;
}

#okavaliar, #enviarEmail{
   -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
    background: #454744;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-size:16px;
    width: 180px;
    color: white;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: 4%;
    margin-bottom: 3%;
}

#escolherAvatar{
     transition: all 0.3s ease-in-out;
    border: none;
    background: #454744;
    cursor: pointer;
    padding:10px;
    border-radius: 3px;
    width:50px;
    color:white;
     text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left:45%;

}

/* Animations fade  in fade out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

